<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Alterar Cadastro</title>
</head>
<body>
  <div class="container">
    <i class="fas fa-user-plus"></i>
    <h4>ALTERAR CADASTRO</h4>
    <form action="/alterar/<%= user._id %>" method="POST" id="cadastroForm">
      <div class="form-group-cadastro">
        <input type="email" name="email" id="email" placeholder="E-mail" value="<%= user.email %>" required> 
        <input type="password" name="senha" id="senha" placeholder="Senha" value="<%= user.senha %>" required>   
        <input type="text" name="nome" id="nome" placeholder="Nome" value="<%= user.nome %>" required>   
        <button type="submit">Alterar</button>
      </div>
    </form>    
  </div>
  <footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
</body>
</html>