<!DOCTYPE html>
<html>
<head>
  <title>Contato</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <i class="fas fa-envelope"></i>

<h4>CONTATO</h4>
<form action="/contato/enviar" method="post">
  <div class="form-group">
    <input type="text1" id="nome" placeholder="Nome" name="nome" required>
    <input type="email" id="email" placeholder="E-mail" name="email" required>
    <input type="text1" id="assunto" placeholder="Assunto"  name="assunto" required>
    <textarea id="mensagem" name="mensagem" placeholder="Mensagem" required></textarea>
  <button type="submit">Enviar</button>
</div>
</form>
<footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
</body>
</html>