<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Meu Projeto Web</title>
</head>
<body>
  <h1>Bem-vindo ao Meu Projeto Web!</h1>
  <p>Esta é a página inicial do projeto.</p>
</body>
</html>