<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Meu Projeto Web</title>
</head>
<body>
  <header>
    <nav>
      <img src="images/icon.png" alt="Ícone do Site" class="site-icon">
      <h1>Logo do Site</h1>
      <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/descricao">Descrição</a></li>
        <li><a href="/tecnologias">Tecnologias</a></li>
        <li><a href="/desenvolvedores">Desenvolvedores</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Aqui será incluído o conteúdo específico de cada página -->
    
  </main>

  <footer>
    <p>© 2023 Meu Projeto Web. Todos os direitos reservados.</p>
  </footer>
</body>
</html>