<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Pagina Inicial</title>
</head>
<body>
    <h2>BOOK EXPRESS</h2>
  <header>
    <nav>
      <h1 style="text-align: center;"><img src="images/logo.png" alt="Ícone do Site" class="site-icon"></h1>
      <ul class="nav-links">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/descricao">Descrição</a></li>
        <li><a href="/tecnologia">Tecnologias</a></li>
        <li><a href="/desenvolvedor">Desenvolvedores</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <div class="container">
      <h3><%= conteudo %> </h3>
    </div>
    </nav>
  </header>
  <footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
</body>
</html>