<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Projeto Web Ciclo 1</title>
</head>
<body>
    <h1>PROJETO WEB CICLO 1</h1>
  <header>
    <nav>
      <h1 style="text-align: center;"><img src="images/logo.png" alt="Ícone do Site" class="site-icon"></h1>
      <ul class="nav-links">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/descricao">Descrição</a></li>
        <li><a href="/tecnologias">Tecnologias</a></li>
        <li><a href="/desenvolvedores">Desenvolvedores</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <h3>O objetivo é criar uma plataforma online que ofereça aos usuários a possibilidade de explorar livros, o site será composto por uma variedade de livros, cada um contendo informações detalhadas, como autor, ano de publicação, editora, número de páginas e um resumo do conteúdo.
         O site proporcionará uma experiência amigável ao usuário, com uma interface intuitiva que permitirá a busca e filtragem dos livros com base em diferentes critérios, como gênero, autor ou palavra-chave. Além disso, os usuários poderão visualizar as capas dos livros, ler o resumo do conteúdo e obter informações relevantes antes de realizar a compra.
        Para cada livro, haverá uma página individual contendo todas as informações mencionadas, contribuindo para uma comunidade de leitores.        
        A proposta inclui ainda um painel de administração, que permitirá aos proprietários da livraria gerenciar o catálogo de livros, adicionar novos itens, atualizar informações, gerenciar pedidos e avaliações dos usuários, bem como acompanhar as vendas e estoque.
        O objetivo final é criar um site atraente, funcional e de fácil utilização, proporcionando aos usuários uma experiência agradável ao navegar, buscar e comprar livros, e assim promover o gosto pela leitura e impulsionar o negócio da livraria.</h3>
    </nav>
  </header>

  <main>
    <!-- Aqui será incluído o conteúdo específico de cada página -->
    
  </main>

  <footer>
    <p>© 2023 Meu Projeto Web. Todos os direitos reservados.</p>
  </footer>
</body>
</html>