<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>Página Inicial</title>
</head>
<% if (user) { %>
<span class="nome-usuario">Bem Vindo(a): <%= nomeUsuario %></span> <% } %>
<body>
  <% if (user) { %>
    <div class="logout-button">
      <a href="/logout" onclick="logout()"><i class="fas fa-sign-out-alt"> </i> Logout</a>
    </div>  
    <div class="alter-button">
      <a href="/alterar"><i class="fas fa-user-edit"></i> Alterar Dados</a>
    </div>
    <div class="del-button">
      <a href="/excluir"><i class="fas fa-trash-alt"></i> Excluir Conta</a>
    </div>
  <% } %>  
  <div class="vel-button">
    <a href="/verificar-login"><i class="fas fa-check-circle"></i>Verificar Usuário</a>
  </div>
  <h1>BOOK EXPRESS</h1>
  <header>
    <nav>
      <h1 style="text-align: center;"><img src="/images/logo.png" alt="Ícone do Site" class="site-icon"></h1>
      <ul class="nav-links">
        <li><i class="fas fa-home"></i> <a href="/">Página Inicial</a></li>
        <li><i class="fas fa-info-circle"></i> <a href="/descricao">Descrição</a></li>
        <li><i class="fas fa-cogs"></i> <a href="/tecnologia">Tecnologias</a></li>
        <li><i class="fas fa-users"></i> <a href="/desenvolvedor">Desenvolvedores</a></li>
        <li><i class="fas fa-comment-dots"></i> <a href="/contato">Contato</a></li>
        <li><i class="fas fa-sign-in-alt"></i> <a href="/login">Login</a></li>
        <li><i class="fas fa-book"></i> <a href="/livros">Livro</a></li> 
      </ul>          
    </nav>
  </header>  
  <div class="container">
    <h3><%= conteudo %></h3>    
    <% if (!user) { %>
    <div class="login-form">
      <form action="/" method="post">
        <input type="email" id="email" placeholder="E-mail" name="email" required>
        <input type="password" id="senha" placeholder="Senha" name="senha" required>
        <button type="submit">Entrar</button>
      </form>
    </div>  
    <% } %>
  </div>
  <footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
  <% if (typeof message !== 'undefined' && message) { %>
    <script>
      alert('<%= message %>'); 
      window.location.href = "/index";
    </script>
  <% } %>
</body>
</html>