<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <h4>Login</h4>
    <form action="/login" method="POST">      
      <div class="form-group-login">
        <input type="text" name="username1" placeholder="E-mail"> 
        <input type="password" name="password2" placeholder="Senha">      
        <button type="submit">Entrar</button>
      </div>
    </form>
  </div>
  <footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
</body>
</html>