<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <h1 style="text-align: center;"><img src="images/logo.png" alt="Ãcone do Site" class="site-icon"></h1>
  <title>Tecnologias</title>
</head>
<body>
  <h1>Frameworks Utilizados</h1>
  <ul class="lista-frameworks">
    <li>Express</li>
    <li>Sequelize</li>
    <li>MongoDB ou MySQL</li>
  </ul>
</body>
</html>