<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <h1 style="text-align: center;"><img src="images/logo.png" alt="Ícone do Site" class="site-icon"></h1>
  <title>Tecnologias</title>
</head>
<body>
  <h1>Frameworks Utilizados</h1>
  <ul class="lista-frameworks">
    <%= conteudo %>
  </ul>
  <footer>
    <p>© 2023 Projeto Web Ciclo 1. Todos os direitos reservados.</p>
  </footer>
</body>
</html>