body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o cabeçalho e o rodapé */
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: white;
  margin-bottom: 10px;
  align-items: center;
  font-size: 45px;
}

p {
  color: lime;
}
h3 {
  margin-bottom: 200px;
  color: rgb(192, 188, 188);
  font-size: 15px;
  padding: 10px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: 300px;
height: 35px;
margin-top: 10px; /* Valor ajustado para aumentar o espaçamento superior */
margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
}
button[type="submit"] {
  display: block;
  margin: 0 auto;
}

button {
background-color: white;
color: black;
width: 150px;
height: 40px;
font-weight: bold;
transition: background-color 0.3s ease, color 0.3s ease;
margin-top: 5px; /* Valor ajustado para aumentar o espaçamento superior */
margin-bottom: 5px;
}

button:hover {
  background-color:  lime;/* Define a cor de fundo desejada no hover */
  color: black; /* Define a cor do texto desejada no hover */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

header {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens do cabeçalho */
  justify-content: flex-start;
  padding: 10px;
}

nav {
  margin-left: 30px;
}

ul {
  margin-bottom: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente os itens da lista */
}

li {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}


a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; /* Adiciona uma transição suave de cor */
}

.nav-links li a:hover {
  color:  lime; /* Define a cor desejada no hover */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 11px;
}

.site-icon {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: 150px; /* Ajuste o tamanho conforme necessário */
  margin-bottom: 10px; /* Ajuste o valor para mover a imagem para cima */
}

.lista-frameworks {
  display: block;
  margin-bottom: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  }